//common
$pure-black: #000000;
$white: #ffffff;
$cadet-grey: #99a0b0;

// website theme
$pullman-green: #332a11;
$sap-green: #5e782e;
$spanish-bistre: #7e6928;
$beige: #f4eedd;

//font
$davys-grey: #595a5c;

// border
$columbia-blue: #d0d8e9;

// text
$eerie-black: #1e1e1f;
$yale-blue: #143b91;
$iguana-green: #67cb84;
$sonic-silver: #76787a;

// card
$alice-blue: #eff5ff;
$magnolia: #faf4ff;
$cosmic-latte: #fffbe5;
$seashell: #fff5eb;

// tag
$champagne-pink: #efd7d1;
$chinese-red: #ad351a;

//form
$anti-flash-white: #f1f3f8;

// input & big-text
$azureish-white: #e1e5f0;
